{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css"%}' type="text/css">
    <title>Empresa industrial algodon para el futuro</title>
</head>
<body>
    <header class="contheader">
        <div class="titulologo">    
            <div class="titulolop"><h1>Empresa industrial algodon para el futuro.</h1></div>
        <div class="logo"></div>
    </div>
    <nav class="menu">
        <ul>
            <nav>
                <ul>
                 <li> <a class="active" href="#"> Inicio </a> </li>
                 <li> <a href="#"> About </a> </li>
                 <li> <a href="#"> Blog </a> </li>
                 <li> <a href = "#" > Services </a> </li>
                 <li> <a href="#"> Feedback </a> </li>
                </ul>
               </nav>
        </ul>
    </nav>
    </header>
</body>
</html>
